/* Reset styles */
* {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.backpain {
  background-image: url('../img/itemsbackground.png');
  background-position: -125px -120px;
  height: 100;
}

/* Navigation styles */
nav {
  display: flex;
  background-color: rgb(62, 53, 53);
  height: 15vh;
  justify-content: center;
  justify-content: space-between; /* Duplicate property */
}

nav div button {
  background-color: rgb(225, 224, 206);
  height: 50%;
  width: 20vw;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Main content styles */
main {
  height: 107vh;
  width: 100vw;
  position: relative;
}

#canvas {
  height: 70vh;
  width: 100vw;
  position: absolute;
  pointer-events: none;
}

.items {
 
  width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amount {
  width: 300px;
  height: 5vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  border: 1px black solid;
}
.amount_glass {
  width: 300px;
  height: 5vh;
  border-radius: 15px;
  background-color: #ffc900;
  border: 1px black solid;
}

#score {
  padding-top: 3%;
}

/* Logo styles */
.logo {
  margin-top: 3%;
  outline: none;
  border-style: ridge;
  border-radius: 300px;
  cursor: pointer;
  background-color: #ffc900;

}

.logo img {
  height: 300px;
  width: 300px;
}

/* Icons styles */
.icons {
  margin-top: 100px;
  /* height: 20%; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Achievements button styles */
#achievementsButton {
  height: 60px;
  width: 200px;
  font-size: 22px;
}

/* Settings button styles */
.settings {
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
}

/* Invest popup styles */
#invest {
  position: fixed;
  display: none;
  width: 600px;
  height: 400px;
  background-color: rgba(62, 53, 53);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  justify-content: center;
  font-size: 20px;
}

#invest p,
#invest h1 {
  padding-top: 20px;
}

#invest h1 {
  padding-left: 38%;
}

#invest h2 {
  padding-left: 39.4%;
}

/* Table styles */
table {
  width: 94%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

th {
  text-align: left;
}

td {
  font-size: 140%;
}

.tableimg {
  text-align: right;
}

/* Login popup styles */
#login {
  position: fixed;
  display: none;
  width: 600px;
  height: 400px;
  background-color: rgba(62, 53, 53);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab-bar {
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.tab-button {
  width: 50%;
  color: #fff;
}

.tab-item {
  padding: 10px;
  float: left;
  border: solid;
  border-color: rgba(62, 53, 53);
  background-color: inherit;
  cursor: pointer;
}

.tab-item:hover {
  background-color: #4d4d4d;
}

/* Achievements popup styles */
#achievements {
  position: fixed;
  display: none;
  width: 700px;
  height: 400px;
  background-color: rgba(62, 53, 53);
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
}

#achievementList {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

#achievementItem {
  background-color: #E1E0CE;
  border: solid;
  border-color: rgba(62, 53, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.achievementItem label {
  margin-right: 10px;
}

.achievementItem input[type="checkbox"] {
  margin-left: auto;
}

.close {
  text-align: center;
  background-color: rgb(157, 157, 157);
  border: 10px black;
}

.action-space {
  display: grid;
}

.bigger {
  font-size: 26px;
}

#in-part1 {
  border-style:solid;
  background-color: rosybrown;
  display:none;
}
#in-part2 {
  border-style: solid;
  background-color: rosybrown;
  display:none;
}
#in-part3 {
  border-style: solid;
  background-color: rosybrown;
  display:none;
}
#in-part4 {
  border-style: solid;
  background-color: rosybrown;
  display:none;
}


.meContainer23{
  margin-top: auto;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  align-items: center;
  background-color: #4d4d4d;
  padding: 10px;
}


.meContainer2{
  margin-top: auto;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  align-items: center;
  background-color: #4d4d4d;
  padding: 10px;
}

.meContainer234{
  display: flex;
  justify-self: center;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo:active img {
  transform: translateY(2px); /* Verplaats de afbeelding 2 pixels naar beneden */
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0; /* Voeg deze regel toe om het element links uit te lijnen */
  right: 0; /* Voeg deze regel toe om het element rechts uit te lijnen */
  width: auto; /* Stel de breedte in op automatisch om alleen het tekstgedeelte te vullen */
  background-color:rgba(62, 53, 53);;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0; /* Voeg marge toe om ervoor te zorgen dat het element de volledige breedte van de pagina vult */
  display: none;
  z-index: 1;
}
